{{# if example-html }}
  <div class="clearfix">
    <h2 id="demo">Demo</h2>
    {{# withNewline }}{{{ example-html }}}{{/ withNewline }}
  </div>
{{/ if }}

{{# if example-html }}
  <h2 id="markup">Markup</h2>
  <pre><code class="language-markup" ng-non-bindable>{{# withNewline }}{{ example-html }}{{/ withNewline }}</pre></code>
  <textarea class="raw-markup hide" ng-non-bindable>{{# withNewline }}{{ example-html }}{{/ withNewline }}</textarea>
{{/ if }}

{{# if example-js }}
  <h2 id="js">JavaScript</h2>
  <pre><code class="language-javascript" ng-non-bindable>{{ example-js }}</code></pre>
  <textarea class="raw-js hide" ng-non-bindable>{{ example-js }}</textarea>
{{/ if }}
